.container-1{
    display: flex;
    background: rgb(255, 255, 255);
    height: 90vh;
    justify-content: center;
    align-items: center;

    .texto{
        font-size: 20px;
        font-weight: 500;
    }
}